*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared CSS */
.btn{
    background-color: #469165;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
}
.btn:hover{
    background-color: blueviolet;
    cursor: pointer;
}
.white-btn{
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 4px;
    padding: 11px 16px;
    font-size: 16px;
    font-weight: 600px;
}
.white-btn:hover{
    background-color: yellowgreen;
    cursor: pointer;
}



/* Main CSS */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    width: 85%;
    max-width: 1360px;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    text-align: center;
    margin: 34px 0;

}
ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500px;
    border-radius: 7px;
    padding: 5px 5px;
    transition: transform 0.3s ease ;
}
ul a:hover{
    background-color: blueviolet;
    transform: scale(1.1);
    
}
.banner{
    background: url("../assets/hero-bg.png") ;
    background-repeat: no-repeat;
    width: 100%;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.banner-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;  
}

.early-access-badge {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #469165;
  font-weight: 500;
  background-color: #FFFFFF;
  border-radius:1000px;
  padding: 7px 10px;
}

.banner  h1{
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px;
    margin: 16px auto;
    
}
.banner #title-color{
    color: #30B868;
}
.banner-container .banner-content{
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.banner-container .banner-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.feature{
    padding-top: 50px;
}
.feature .feature-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.section-title h1{
    font-size: 48px;
    font-weight: 700;
}
.section-title p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
}
.feature .feature-box{
    display: flex;
    gap: 25px;
    padding-top: 45px;

}
.feature .feature-box img{
    background-color: #F95555;
    padding: 10px 10px;
    border-radius: 100px;
    align-items: center;
}
.feature .feature-card{
    padding: 70px 24px;
    box-shadow: 0 6px 6px #0000002f;
    max-width: 322px;
    max-height: 300px;

}
.feature .feature-card h3{
    padding: 15px;
    font-size: 24px;
    font-weight: 600;
}
.feature .feature-card p{
    color:#627382;
    font-weight: 400;
}
.solution{
    padding: 120px 120px;
    display: flex;
    gap: 60px;
}
.solution-content h6{
    margin-top: 120px;
    color: #469165;
}
.solution-content h1{
    font-size: 48px;
    font-weight: 700;
    padding: 16px 0;
}
#solution-text-color{
    color: #627382;
    padding-bottom: 40px;
}
.solution-content .point-item {
    align-items: center;
    display: flex;
    margin-bottom: 16px;
}

.solution-content .point-item img{
    margin-right: 5px;
}